server:
  port: 9092

spring:
  application:
    name: user-service
  datasource:
    username: postgres
    password: root
    url: jdbc:postgresql://localhost:5432/micro-userdb
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

rating:
  getByUserId: http://RATING-SERVICE/api/rating/user/rating/
  hotelURL: http://HOTEL-SERVICE/api/hotels/